html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
	margin: 0;
    display: flex;
    flex-direction: column;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
    text-align: center;
   
}
.page-wrap {
    max-width: 90%;
    margin: 0 auto;
   
}


/* homepage */
.logo{
    font-family: 'Inspiration', serif;
    font-size: 56px;
    margin: 0;
    background-color:#edece9;
}

.menu__checkbox{
    position: absolute;
    left: -9999px;
}

.menu__list{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:#edece9;
    
}

.menu__item{
    border-bottom: 1px solid white;
}

.menu__link{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.menu__link:hover {
    background-color: #c8c5bf;
    color: white;
    
}

.menu__checkbox:checked ~ .menu__list{
    display: block;
}


.cover__description {
	font-size: 30px;
	font-style: italic;
	margin-bottom: 0;
    color:white;
    position: absolute;
    top: 50%;
    left: 10%;
      
	
}
.cover__photo{
    display: block;
    object-fit: cover;
      
}

/* O mne */

.hello{
    margin-top: 50px;
    margin-bottom: 50px;
}
.omne{
    margin-bottom: 50px;
}
.column__left{
    max-width: 50%;
    
}
.column__right{
    background-color: white;
    max-width: 50%;
    
    
}

.column1__right,
.column1__left{
    max-width: 50%;
}
.column__left,
.column1__right{
    width: 300px;
    height: 500px;
}

.column__left img,
.column1__right img{
    max-width: 100%;
}


.column {
    display: flex;
    justify-content: space-around;
	align-items: center;
    
}


.column1{
    display: flex;
	justify-content: space-around;
	align-items: center;
    flex-direction: row-reverse;
}

.workplace{
    position: relative;
    left: 50px;
    bottom: 100px;
}

/* Obrazy */

.autumn{
    margin-top: 50px;
}

.grid,
.grid1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.grid1{
    flex-direction: row-reverse;
}

.grid__right,
    .grid1__left {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        background: blue;
        width: 400px;
        height: 500px;
    }
    
    .grid__main
     {
        background-color: yellow;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .grid1__main{
        background-color: yellow;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    
    .grid__thumbnail,
    .grid1__thumbnail {
        background-color: aqua;
        
        
    }
    
    .grid__main img,
    .grid1__main img,
    .grid__thumbnail img,
    .grid1__thumbnail img {
       max-width: 100%; 
    }

    .grid1__thumbnail img:hover,
    .grid__thumbnail img:hover {
    transform: scale(3);
}

    

/* kontakt */

.social-content__link{
    text-decoration: none;
    color: black;
    padding-top: 5px;
    
    
}
.social-content__image{
    width: 50px;
    height: 50px;
}


.social-content{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}

.instagram-reels {
    /* display: flex; */
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;

}


.instagram-reels__item img {
    max-width: 100%;
    width: 500px;
}



form {
	width: 400px;
    display:inline-block
    

    
}

.form-field {
	margin-bottom: 10px;

}

.form-field label {
	display: block;
	color: rgb(60, 59, 59);
    text-align: left;
    
    
}

.form-field input[type='text'],
.form-field input[type='email'],
.form-field textarea {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border: 1px solid rgb(106, 103, 103);
	border-radius: 4px;
    background-color: #edece9;
    
}
button {
	border: 0;
    display: block;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #c8c5bf;
	color: white;
	border-radius: 4px;
    margin-bottom: 50px;
   
}


.footer{
	
	background-color: #c8c5bf;
	color: white;
	text-align: center;
    
}

@media screen and ( min-width: 640px) {
    .menu__toggler{
        display: none;
    }

    .menu__list{
        display: flex !important; 
        justify-content: center;
    }

    .menu__item{
        border-bottom: 0;
    }
  
    .instagram-reels{
        grid: auto-flow / 1fr 1fr 1fr 1fr;
    }
    
}


