<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>

    <link href="https://fonts.googleapis.com/css2?family=Inspiration&family=Meow+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <h1 class="logo">m.huzova.art</h1> 

        <nav class="menu">

            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
		    <label for="menu-checkbox" class="menu__toggler">☰</label>
            
            <ul class="menu__list">
               <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
               <li class="menu__item"><a class="menu__link"href="/omne/">O mně</a></li>
               <li class="menu__item"><a class="menu__link" href="/obrazy/">Obrazy</a></li>
               <li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main>

    {{ content | safe }}

    </main>

    <footer class="footer">
        <p>&copy;2024, Monika Hůzová</p>
    </footer>
    
</body>
</html>